# Clerk Authentication Publishable Key (From Clerk Dashboard -> API Keys)
VITE_CLERK_PUBLISHABLE_KEY=pk_test_...

# Backend REST API Base URL
# Local Development: http://localhost:5000
# Render Production: https://outbox-email-scheduler-8ajn.onrender.com
VITE_API_URL=https://outbox-email-scheduler-8ajn.onrender.com
